html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter UI",sans-serif;
  background-color: #fbfcfd;
  color: #4a4a4a;
  overflow-wrap: break-word;
}

/* ----NAV START---- */


.navbar {
  padding: 5px;
  margin: 0;
  background: rgb(22, 80, 138);
  font-weight: 500;
  font-size: 20px;
}
.navbar-brand{
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}
/* This CSS styles the olympic icon in the navbar */
.nav-olympic {
  position: absolute;
  bottom: 5px;
  left: 115px;
  width: 35px;
  color: white;
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-weight: lighter;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }

  #logo {
    width: 100%;

    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;

    /* Positioning */
    margin-left: 0;
    font-family: Georgia, Times, "Times New Roman", serif;

    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;

    /* Visual */
    background: #4aaaa5;
  }
}

/* -----NAV END---- */


/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 700px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/olympicRings.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  font-size: 30px;
  animation: title 1.2s forwards linear;
  color: white;
  margin-top: 200px;
}

.hero p {
  font-size: 28px;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  color: red;
}
/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: rgb(22, 80, 138);
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background:steelblue;
  color: white;
  font-size: 16px;
  text-align: center;
}